
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.link {
    text-decoration: none;
}
.list-web {
    color: #4D5AE5;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}
.list-studio {
    color: #2E2F42;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}
.list {
    list-style: none;
}
.list-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration:none;
    
}
.list-address {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
