:root {
     color-dairy: #fcfcfc;
}
body {
    font-family: "Roboto", sans-serif;
    color:#434455;
    background-color:#FFFFFF;
}
.logo {
     font-family: "Raleway", sans-serif;
     font-weight: 800;
     font-size: 18px;
     line-height: 1.17;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color:#4d5ae5;
}
.link {
    text-decoration: none;
}

.logo-span {
    color: #2e2f42;
}
.list {
     list-style: none;
}
 .nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

 }
.nav:hover,
.nav:focus {
     color: #404bbf ;

}
.contakt {
    font-style: normal;
}
.contakt {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.contakt:hover,
.contakt:focus {
    color: #404bbf;
}
.hero {
    background-color: #2e2f42;
}
.hero-solution {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff ;
}
.btn {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}
.btn:hover,
.btn:focus {
    background-color: #404BBF;
}
.name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.front {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.team {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.foto {
    background-color: background-color: #F4F4FD;
}
.foto-studio {
    background-color: #F4F4FD;
}
.img {
    background-color: var(color-white);
}
.footer {
    background-color: var(color-navy-blue-modal);
}
.studio {
    color: var(color-cloud);
}
.text {
    color: var(color-cloud);
}
.portfolio {
    background-color: var(color-cloud);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(color-iris);
    cursor: pointer;    
}
.portfolio:hover,
.portfolio:focus {
    color: var(color-white);
    background-color: var(color-ocean);   
}
.footer {
    color: var(color-cloud);
}


