:root { 
    color-iris: #4d5ae5;
    color-ocean: #404bbf;
    color-navy-blue: #2e2f42;
    color-green: #31d0aa;
    color-slate: #434455;
    color-light-slate: #8e8f99;
    color-cornflower: #e7e9fc;
    color-cloud: #f4f4fd;
    color-navy-blue-modal: #2e2f42;
    color-grey: #2e2f42;
    color-white: #ffffff;
    color-dairy: #fcfcfc;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.logo {
     font-family: "Raleway", sans-serif;
     font-weight: 800;
     font-size: 18px;
     line-height: 1.17;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #4d5ae5;
}
.link {
    text-decoration: none;
}